.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #3F3F3F;
}

.login-form {
    -fx-min-width: 200px;
    -fx-pref-width: 500px;
    -fx-max-width: 600px;
}

.login-form-inputfield {
    -fx-pref-width: 500px;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
}

.login-form-text {
    -fx-text-fill: #FFFFFF;
}

.login-form-button {
    -fx-pref-width: 500px;
    -fx-background-color: #70A5C5;
    -fx-background-radius: 10px;
}

/* -fx-padding: 10 20 10 20; */
