.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-button{
    -fx-opacity: 0;
}

.scroll-bar:vertical .decrement-button {
    -fx-opacity: 0;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}


.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 5em;
}

.scroll-pane:hover .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-color: #202020;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

.button .text {
    -fx-font-family: "Roboto";
    -fx-font-size: 24;
}

.bold {
    -fx-font-weight: bold;
}

.text-area {
    -fx-font-family: Roboto;
    -fx-font-size: 12;
    -fx-text-fill: #ffffff;
    -fx-display-caret:false;
}

.text-area .content {
    -fx-background-color: #EEEEEE;
}